.label {
    -fx-font-size: 18px;
}

.AnchorPane {
    -fx-background-image : url("/Game/Style/HallOfFame.png");
    -fx-background-size: 460px, 800px;
}

#lblTitle{
    -fx-font: Bold 30px "Arial";

}

#lblScore, #lblName, #lblTime{
    -fx-font-size:15px;
    -fx-font-weight: Bold;
}

#btnBack {
    -fx-font-size:18px;
}